services:
  test:
    build: .
    environment: # I have a 3070, so we're not testing on a very large model and enable a lower memory utilization.
      - MODEL_NAME=unsloth/Qwen3-1.7B
      - GPU_MEMORY_UTILIZATION=0.8
      - MODEL_MAX_LEN=8192
    ports:
      - "8000:8000"
    volumes:
      - .cache:/workspace/.cache
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
